* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: tan;  /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.index-header {
  color: aqua;
  justify-content: center;
  text-align: center;
  font-size: xx-large;
  margin: 50px;
}
.index-paragraph {
  color: black;
  justify-content: center;
  text-align: center;
  font-size: large;
  padding: 50px;
}

.menu {
  border: 1px solid #fff;  /* For debugging */
  width: 900px;
  display: flex;
  justify-content: space-around;
}
.links {
  border: 1px solid #fff;  /* For debugging */
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.imageSize > img {
  padding: 20px;
	width: 400px;
	height: 300px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: chocolate; /* Blue */
  }
}
